[Desktop Entry]
Name=IP Flag
Comment=Shows Flag Public IP Address and VPN status

Type=Service
Icon=ipflag
X-KDE-ServiceTypes=Plasma/Applet

X-Plasma-API=declarativeappletscript
X-Plasma-MainScript=ui/main.qml

X-KDE-PluginInfo-Author=Reza Yazdani
X-KDE-PluginInfo-Email=mrrezayazdani@yahoo.com
X-KDE-PluginInfo-Name=com.github.mryazdan.ipflag
X-KDE-PluginInfo-Version=1.0
X-KDE-PluginInfo-Category=Utilities
X-KDE-PluginInfo-License=GPL3
X-KDE-PluginInfo-Website=https://github.com/MrYazdan/ipflag
